# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
ENV/


# Environment Variables
.env

# Static Files
staticfiles/


# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Python cache
*.egg-info/
.pytest_cache/