{% extends 'base.html' %}

{% block title %}
Write Review
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-lg-6">

            <div class="card shadow border-0 rounded-4">

                <div class="card-header bg-success text-white">

                    <h3 class="mb-0">

                        ⭐ Review {{ product.name }}

                    </h3>

                </div>

                <div class="card-body">

                    <form method="POST">

                        {% csrf_token %}

                        <div class="mb-3">

                            <label class="form-label fw-bold">

                                Rating

                            </label>

                            {{ form.rating }}

                        </div>

                        <div class="mb-3">

                            <label class="form-label fw-bold">

                                Comment

                            </label>

                            {{ form.comment }}

                        </div>

                        <button class="btn btn-success w-100">

                            Submit Review

                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}